# papelito.69.mu
3,8,13,18,23,28,33,38,43,48,53,58 * * * * sleep 7 ; wget --no-check-certificate -O - https://freedns.afraid.org/dynamic/update.php?{{ vault_freedns_token_papelito }} >> /tmp/freedns_papelito_69_mu.log 2>&1 &
# rataflix.69.mu
2,7,12,17,22,27,32,37,42,47,52,57 * * * * sleep 31 ; wget --no-check-certificate -O - https://freedns.afraid.org/dynamic/update.php?{{ vault_freedns_token_rataflix }} >> /tmp/freedns_rataflix_69_mu.log 2>&1 &
# requests.rataflix.69.mu
3,8,13,18,23,28,33,38,43,48,53,58 * * * * sleep 10 ; wget --no-check-certificate -O - https://freedns.afraid.org/dynamic/update.php?{{ vault_freedns_token_requests_rataflix }} >> /tmp/freedns_requests_rataflix_69_mu.log 2>&1 &
# pics.rataflix.69.mu
0,5,10,15,20,25,30,35,40,45,50,55 * * * * sleep 44 ; wget --no-check-certificate -O - https://freedns.afraid.org/dynamic/update.php?{{ vault_freedns_token_pics_rataflix }} >> /tmp/freedns_pics_rataflix_69_mu.log 2>&1 &
