frigate.{{ internal_domain }} {
    reverse_proxy transcoder.host:8971
    tls internal
}

audiomuse.{{ internal_domain }} {
    reverse_proxy transcoder.host:8000
    tls internal
}

homeassistant.{{ internal_domain }} {
    reverse_proxy {{ nas_ip }}:{{ service_ports.homeassistant }}
    tls internal
}

homeassistant.{{ domain }} {
    reverse_proxy {{ nas_ip }}:{{ service_ports.homeassistant }}
}

grafana.{{ internal_domain }} {
    reverse_proxy {{ nas_ip }}:{{ service_ports.grafana }}
    tls internal
}

influxdb.{{ internal_domain }} {
    reverse_proxy {{ nas_ip }}:{{ service_ports.influxdb }}
    tls internal
}

loki.{{ internal_domain }} {
    reverse_proxy {{ nas_ip }}:{{ service_ports.loki }}
    tls internal
}
