services:
  slskd:
    image: slskd/slskd:latest
    container_name: slskd
    user: "{{ puid }}:{{ pgid }}"
    networks:
      - media
    ports:
      - "{{ service_ports.slskd }}:5030"
      - "50300:50300"
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - SLSKD_REMOTE_CONFIGURATION=true
      - TZ={{ timezone }}
    volumes:
      - {{ paths.config }}/slskd/app:/app
      - {{ paths.data }}/downloads/slskd/downloads:/app/downloads
      - {{ paths.data }}/downloads/slskd/incomplete:/app/incomplete
      - {{ paths.data }}/music:/music
    restart: unless-stopped
    labels:
      caddy: slskd.{{ internal_domain }}
      caddy.reverse_proxy: "{% raw %}{{upstreams 5030}}{% endraw %}"
      caddy.tls: internal

networks:
  media:
    external: true
