services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    networks:
      - internal
    restart: unless-stopped
    ports:
      - 8000:8000
      - {{ service_ports.portainer }}:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ paths.config }}/portainer-server/data:/data
    labels:
      caddy: portainer.internal
      caddy.reverse_proxy: "{% raw %}{{upstreams 8000}}{% endraw %}"
      caddy.tls: internal
      caddy_1: portainerui.internal
      caddy_1.reverse_proxy: "{% raw %}{{upstreams 9000}}{% endraw %}"
      caddy_1.tls: internal

networks:
  internal:
    external: true
