[Unit]
Description=Homelab dashboard generation
After=network-online.target remote-fs.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart={{ monitoring_base_path }}/dashboard/generate.sh
Nice=19
IOSchedulingClass=idle
