services:
  seerr:
    image: ghcr.io/seerr-team/seerr:latest
    container_name: seerr
    init: true
    networks:
      - media
    environment:
      - LOG_LEVEL=debug
      - TZ={{ timezone }}
      - PORT=5055
    ports:
      - {{ service_ports.seerr }}:5055
    volumes:
      - {{ paths.config }}/seerr/config:/app/config
    dns:
      - 1.1.1.1
      - 8.8.8.8
    restart: unless-stopped
    labels:
      caddy: requests.rataflix.{{ internal_domain }}
      caddy.reverse_proxy: "{% raw %}{{upstreams 5055}}{% endraw %}"
      caddy.tls: internal
      caddy_1: requests.rataflix.{{ domain }}
      caddy_1.reverse_proxy: "{% raw %}{{upstreams 5055}}{% endraw %}"

networks:
  media:
    external: true
