{
{% if docker_data_root is defined %}
  "data-root": "{{ docker_data_root }}",
{% endif %}
  "live-restore": true,
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3"
  }
}
