[Unit]
{% if docker_data_root is defined and docker_data_root.startswith('/mnt/') %}
{% set mount_unit = docker_data_root.split('/')[1:3] | join('-') + '.mount' %}
After={{ mount_unit }}
Requires={{ mount_unit }}
{% endif %}
