services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    networks:
      - media
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ timezone }}
    volumes:
      - {{ paths.config }}/radarr/data:/config
      - {{ paths.data }}:/data
    ports:
      - {{ service_ports.radarr }}:7878
    restart: unless-stopped
    labels:
      caddy: radarr.{{ internal_domain }}
      caddy.reverse_proxy: "{% raw %}{{upstreams 7878}}{% endraw %}"
      caddy.tls: internal

networks:
  media:
    external: true
