services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    networks:
      - internal
    ports:
      - "{{ service_ports.pihole_dns }}:53/tcp"
      - "{{ service_ports.pihole_dns }}:53/udp"
      - "{{ service_ports.pihole_web }}:80/tcp"
      - "{{ service_ports.pihole_web | int + 1 }}:443/tcp"
    environment:
      TZ: '{{ timezone }}'
      FTLCONF_webserver_api_password: '{{ vault_pihole_password }}'
      FTLCONF_dns_listeningMode: 'all'
    volumes:
      - 'etc-pihole:/etc/pihole'
    cap_add:
      - SYS_NICE
    healthcheck:
      test: ["CMD", "dig", "+short", "+timeout=2", "@127.0.0.1", "cloudflare.com"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 60s
    restart: unless-stopped
    labels:
      caddy: pihole.internal
      caddy.reverse_proxy: "{% raw %}{{upstreams}}{% endraw %}"
      caddy.tls: internal

networks:
  internal:
    external: true

volumes:
  etc-pihole:
