tls:
  enabled: false

mqtt:
  enabled: true
  host: homeassistant.{{ internal_domain }}
  port: {{ service_ports.mosquitto }}
  user: {{ vault_mqtt_user }}
  password: {{ vault_mqtt_password }}
  topic_prefix: frigate

detectors:
  ov:
    type: openvino
    device: GPU

model:
  width: 300
  height: 300
  input_tensor: nhwc
  input_pixel_format: bgr
  path: /openvino-model/ssdlite_mobilenet_v2.xml
  labelmap_path: /openvino-model/coco_91cl_bkgr.txt

detect:
  enabled: true

record:
  enabled: true
  motion:
    days: 3
  alerts:
    retain:
      days: 14
  detections:
    retain:
      days: 10

snapshots:
  enabled: true
  retain:
    default: 7

objects:
  track:
    - person
    - cat
    - dog

face_recognition:
  enabled: true
  min_area: 250
  detection_threshold: 0.5

cameras:
  col-1:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://{{ vault_frigate_rtsp_user }}:{{ vault_frigate_rtsp_password }}@10.0.0.10:554/stream1
          roles:
            - detect
            - record
            - audio
    motion:
      mask: 0.36,0.057,0,0.057,0,0.003,0.361,0
      threshold: 30
      contour_area: 20
      improve_contrast: true
    zones:
      pasillo_interno:
        coordinates: 0.553,0.533,0.494,0.539,0.494,0.439,0.529,0.443
        loitering_time: 0
        friendly_name: Pasillo Interno
      baranda_vecino:
        coordinates: 0.665,0.233,1,0.292,1,0.073,0.655,0.009
        loitering_time: 0
        friendly_name: Baranda Vecino
      zone_aca48c5b:
        coordinates:
          0.774,1,0.557,0.529,0.544,0.42,0.483,0.408,0.469,0.005,0.656,0,0.665,0.233,1,0.292,1,1
        loitering_time: 0
        friendly_name: Techo/Medianera
        inertia: 3
      afuera:
        coordinates:
          0.559,0.537,0.494,0.542,0.492,0.888,0.067,0.86,0,0.722,0,1,0.772,1
        loitering_time: 0
        friendly_name: Afuera
version: 0.17-0
classification:
  custom:
    Personas:
      enabled: true
      name: Personas
      threshold: 0.8
      object_config:
        objects:
          - person
        classification_type: sub_label
